body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #103449;
  font-family: 'Work Sans', 'Helvetica Neue Light', Helvetica, Arial, sans-serif;
  font-weight: 300;
}
.title {
  font-family: 'Kadwa', sans-serif;
  font-weight: normal;
}

img {
  transition: 3s;
  height: 100px;
  width: 100px;
}

.App {
  text-align: center;
}
.App:hover > img {
  transform: rotate(1080deg);
}
.ui.basic.label.noborder {
  border: none;
  width: 90%;
  padding-top: 1.5rem;
}
.ui.accordion > .title:first-of-type {
  border-top: 1px solid rgba(34,36,38,.15);
}
.ui.accordion > .title {
  border-bottom: 1px solid rgba(34,36,38,.15);
}

.ui.accordion > .title.active {
  border-bottom: none;
}

.ui.accordion > .content.active {
  border-bottom: 1px solid rgba(34,36,38,.15);
}
